<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Reelo Test Suite" parallel="false">

    <!-- Define test block -->
    <test name="Reelo Automation Tests">

        <classes>
            <!-- First: Create Account -->
            <class name="testcases.CreateAccount" />

            <!-- Then: Campaign Test -->
            <class name="testcases.CampaignTest" />
        </classes>

    </test>
</suite>
